:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(199, 100%, 33%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 35%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rdg(240, 240, 246);
    --cardBG: rgb(225, 255, 235);
}

.popular {
    padding-top: 5rem;
    background-color: antiquewhite;

    .secContainer {
        .secHeader {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            .textDiv {
                .secTitle {
                    color: var(--blackColor);
                    line-height: 1.5rem;
                    padding-bottom: .5rem;
                }

                p {
                    font-size: 13px;
                    color: var(--textColor);
                    font-weight: 500;
                }
            }

            .iconsDiv {
                gap: 0.5rem;

                .icon {
                    padding: .5rem;
                    background: var(--greyText);
                    border-radius: 50%;
                    font-size: 2.5rem;

                    &:hover {
                        background: var(--blackColor);
                        color: var(--whiteColor);
                    }
                }

                .leftIcon {
                    background: var(--blackColor);
                    color: var(--whiteColor);

                    &:hover {
                        background: var(--greyText);
                        color: var(--blackColor);
                    }
                }
            }
        }

        .mainContent {
            display: flex;
            overflow-x: auto;
            gap: 1rem;
            padding: 2rem 0;
            margin-bottom: -15px;
            /* Adjust this value to hide the scrollbar */
            overflow-y: hidden;
            /* Hide the vertical scrollbar */

            .singleDestination {
                overflow: hidden;
                border-radius: 1rem;
                box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.334);
                flex: 0 0 100%; // Show 1 card initially on small screens

                .destImage {
                    height: 200px;
                    flex: 0 0 60%;
                    position: relative;
                    overflow: hidden;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    .overlayInfo {
                        position: absolute;
                        display: flex;
                        align-items: flex-start;
                        padding: 0;
                        justify-content: center;
                        flex-direction: column;
                        background: linear-gradient(rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.759));
                        bottom: 0;
                        transition: height 0.5s ease;
                        width: 100%;
                        height: 0;
                        overflow: hidden;

                        h3 {
                            color: var(--whiteColor);
                            font-weight: 600;
                        }

                        p {
                            color: var(--whiteColor);
                            opacity: .7;
                            font-size: 17px;
                        }

                        .icon {
                            position: absolute;
                            right: 10px;
                            bottom: 10px;
                            padding: .5rem;
                            background: var(--PrimaryColor);
                            font-size: 2.5rem;
                            border-radius: 50%;
                            color: var(--whiteColor);
                            border: 1px solid transparent;
                            transition: .3s ease;

                            &:hover {
                                background: var(--blackColor);
                                border: 1px solid var(--PrimaryColor);
                                color: var(--PrimaryColor);
                            }
                        }
                    }
                }

                .destFooter {
                    padding: 1rem;

                    .number {
                        font-size: 2rem;
                        font-weight: 700;
                        color: var(--blackColor);
                        position: relative;
                        width: max-content;

                        &::after {
                            content: '';
                            position: absolute;
                            background: var(--PrimaryColor);
                            top: 45%;
                            right: -150%;
                            height: 5px;
                            width: 45px;
                            border-radius: 1rem;
                        }
                    }

                    .destText {
                        justify-content: space-between;

                        h6 {
                            color: var(--blackColor);
                            font-size: 15px;
                        }

                        .flex {
                            font-size: 16px;
                            font-weight: 600;
                            align-items: flex-start;
                            transition: translateY(5px);

                            .icon {
                                color: var(--PrimaryColor);
                            }
                        }
                    }
                }

                &:hover {
                    .overlayInfo {
                        overflow: visible;
                        padding: 1rem 1.5rem;
                        height: 100%;
                    }
                }
            }
        }
    }

    .scrollControls {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .icon {
            padding: .5rem;
            background: var(--greyText);
            border-radius: 50%;
            font-size: 2.5rem;
            cursor: pointer;

            &:hover {
                background: var(--blackColor);
                color: var(--whiteColor);
            }
        }

        .leftIcon {
            background: var(--blackColor);
            color: var(--whiteColor);

            &:hover {
                background: var(--greyText);
                color: var(--blackColor);
            }
        }
    }
}

@media screen and (min-width: 480px) {
    .popular {
        padding-top: 5rem;

        .secContainer {
            .mainContent {
                .singleDestination {
                    flex: 0 0 100%; // Show 1 card on small screens
                }
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .popular {
        .secContainer {
            .mainContent {
                .singleDestination {
                    flex: 0 0 calc(100% / 2); // Show 2 cards on medium screens
                }
            }

            .secHeader {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .textDiv {
                    text-align: start;
                    max-width: 70%;
                }

                .iconsDiv {
                    justify-content: flex-end;
                }
            }
        }
    }
}

@media screen and (min-width: 720px) {
    .popular {
        padding-top: 5rem;

        .secContainer {
            .mainContent {
                .singleDestination {
                    flex: 0 0 calc(100% / 4); // Show 4 cards on large screens
                }
            }
        }
    }
}

@media screen and (min-width: 1020px) {
    .popular {
        padding-top: 5rem;

        .secContainer {
            .secHeader {
                .textDiv {
                    .secTitle {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}